.cards__img {
    margin: 60px 40px 43px 40px; /* Так gap я прописал обшему блоку карточки, и он работает только на флексы и гриды, а здесь марджин внутри карты для пикчи, просто если я тут убираю марджин у меня все ломается */
    height: 160px;
    width: 160px;
    border-radius: 50%;
}
